@Scripts.Render("~/bundles/jquery")
@Styles.Render("~/Content/dtpicker")
@Scripts.Render("~/bundles/bootstrap-filestyle")
@Styles.Render("~/Content/css")

@{
    ViewBag.Title = "Importação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="box">
    <div class="alert alert-info" role="alert"><h4>Importação de contra cheque</h4></div>
    <br><br />
    @using (Html.BeginForm("Importa", "ImportacaoContraCheque", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <div style="display:inline-block; margin:auto;">
            <input type="file" class="filestyle btn" id="fileToUpload" name="file" data-classicon="icon-plus" required="" data-buttontext="Adicione o arquivo de importação" data-input="false" />
            </div><br><br />
            <input data-provide="datepicker" id="competencia" name="competencia" class="btn Botaofile" value="@DateTime.Now.Month/@DateTime.Now.Year"><br><br/>
            <input type="submit" id="btnSubmit" class="btn btn-lg btn-primary Botaofile" value="Inserir" />
            <span class="field-validation-error" id="spanfile"></span>
        </div>
    }

        <h2 style="color:red;">@ViewBag.Message</h2>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/DatePicker")
    <script>
        $("#competencia").datepicker({
            format: "mm/yyyy",
            startView: "months",
            minViewMode: "months",
            orientation: "auto",
            language: "pt-BR"
            
        });
    </script>
}

