@model IEnumerable<CWI.ContraCheque.Dominio.Colaborador>

@{
    ViewBag.Title = "Página Inicial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoColaborador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeColaborador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoSalario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CentroCusto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataAdmissao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoColaborador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeColaborador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSalario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CentroCusto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAdmissao)
            </td>
        </tr>
    }
</table>
<!--O QUE FOI ADICIONADO, SEGUE ABAIXO-->


<div class="panel panel-primary contra-cheque">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3>Recibo de Pagamento de Salário</h3></div>
    <div class="panel-body">
        <table class="table table-condensed">

            <tr class="active">
                <td>
                    <strong>Conta</strong>
                </td>
                <td>
                    <strong>Nome do Funcionário</strong>
                </td>
                <td>
                    <strong>Centro de Custo</strong>
                </td>
                <td>
                    <strong>Data de Admissão</strong>
                </td>
                <td>
                    <strong>Conta de Pagamento</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>1231</h5>
                </td>
                <td>
                    <h5>Maria Helena da Silva</h5>
                </td>
                <td>
                    <h5>ADMINISTRAÇÃO CWICG</h5>
                </td>
                <td>
                    <h5>01/06/2015</h5>

                </td>
                <td>
                    <h5>BANCO DO BRASIL AG.: 3334-0 CONTA : 19359-3</h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-body">
        <!-- Table -->
        <table class="table table-condensed">
            <tr class="active">
                <td>
                    <strong>Conta</strong>
                </td>
                <td>
                    <strong>Descricão</strong>
                </td>
                <td>
                    <strong>Referência</strong>
                </td>
                <td>
                    <strong>Proventos</strong>
                </td>
                <td>
                    <strong>Descontos</strong>
                </td>

            </tr>
            <!--colocar isso dentro de um foreach-->
            <!--fazer verificação de campos vazios aqui nesta linha-->
            <tr>
                <td>
                    <h5>SALARIO MENSALISTA</h5>
                </td>
                <td>
                    <h5>125,00</h5>
                </td>
                <td>
                    <h5>850,00</h5>
                </td>
                <td>
                    <h5>-</h5>
                </td>
            </tr>

            <!--endforeach aqqqqqqqqqqqqqqqqui-->
        </table>
    </div>

    <div class="panel-body">
        <!-- Table -->
        <table class="table table-condensed">
            <tr class="active">
                <td>
                    <strong>Total de Proventos</strong>
                </td>
                <td>
                    <strong>Total de Descontos</strong>
                </td>
                <td>
                    <strong>Valor Líquido</strong>
                </td>
            </tr>
            <!--fazer verificação de campos vazios aqui nesta linha-->
            <tr>
                <td>
                    <h5>932,27</h5>
                </td>
                <td>
                    <h5>498,69</h5>
                </td>
                <td>
                    <h5>433,58</h5>
                </td>
            </tr>
        </table>
    </div>

    <div class="panel-body">
        <!-- Table -->
        <table class="table table-condensed">
            <tr class="active">
                <td>
                    <strong>Salário Base</strong>
                </td>
                <td>
                    <strong>Salário Contrib INSS</strong>
                </td>
                <td>
                    <strong>Base FGTS</strong>
                </td>
                <td>
                    <strong>Valor FGTS</strong>
                </td>
                <td>
                    <strong>Base Cálculo IRRF</strong>
                </td>
            </tr>
            <!--fazer verificação de campos vazios aqui nesta linha-->
            <tr>
                <td>
                    <h5>850,00</h5>
                </td>
                <td>
                    <h5>932,27</h5>
                </td>
                <td>
                    <h5>932,27</h5>
                </td>
                <td>
                    <h5>74,58</h5>
                </td>
                <td>
                    <h5>677,98</h5>
                </td>
            </tr>
        </table>
    </div>
</div>
